DAO/Connected Services/ServiceABI/ServiceAbi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ABIEnCouches" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ABIEnCouches" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCollaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collaborateur" nillable="true" type="tns:Collaborateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollaborateur" nillable="true" type="tns:ArrayOfCollaborateur" />
  <xs:complexType name="Collaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actif" type="xs:boolean" />
      <xs:element minOccurs="0" name="Civilite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule" type="xs:int" />
      <xs:element minOccurs="0" name="NomCollab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrenomCollab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SituationFamiliale" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collaborateur" nillable="true" type="tns:Collaborateur" />
  <xs:complexType name="ArrayOfContratType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContratType" nillable="true" type="tns:ContratType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratType" nillable="true" type="tns:ArrayOfContratType" />
  <xs:complexType name="ContratType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebutContrat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinReelContrat" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdContrat" type="xs:int" />
      <xs:element minOccurs="0" name="Qualification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalaireContractuel" type="xs:decimal" />
      <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratType" nillable="true" type="tns:ContratType" />
  <xs:complexType name="Cdi">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContratType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cdi" nillable="true" type="tns:Cdi" />
  <xs:complexType name="ContratTemporaire">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContratType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateFinContrat" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Motif" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContratTemporaire" nillable="true" type="tns:ContratTemporaire" />
  <xs:complexType name="Cdd">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContratTemporaire">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cdd" nillable="true" type="tns:Cdd" />
  <xs:complexType name="Stagiaire">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContratTemporaire">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ecole" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mission" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stagiaire" nillable="true" type="tns:Stagiaire" />
</xs:schema>