DAO/Connected Services/ServiceABI/ServiceAbi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAbi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bip07:8080/ServiceAbi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bip07:8080/ServiceAbi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bip07:8080/ServiceAbi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABIEnCouches" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAbi_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_GetCollaborateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborateurs" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_GetCollaborateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborateursResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_addCollaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:addCollaborateur" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_addCollaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCollaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_GetContratsCollaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContratsCollaborateur" />
  </wsdl:message>
  <wsdl:message name="IServiceAbi_GetContratsCollaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContratsCollaborateurResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAbi">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAbi/GetData" message="tns:IServiceAbi_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAbi/GetDataResponse" message="tns:IServiceAbi_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollaborateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAbi/GetCollaborateurs" message="tns:IServiceAbi_GetCollaborateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAbi/GetCollaborateursResponse" message="tns:IServiceAbi_GetCollaborateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCollaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAbi/addCollaborateur" message="tns:IServiceAbi_addCollaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAbi/addCollaborateurResponse" message="tns:IServiceAbi_addCollaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContratsCollaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAbi/GetContratsCollaborateur" message="tns:IServiceAbi_GetContratsCollaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAbi/GetContratsCollaborateurResponse" message="tns:IServiceAbi_GetContratsCollaborateur_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ABIService" type="tns:IServiceAbi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceAbi/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollaborateurs">
      <soap:operation soapAction="http://tempuri.org/IServiceAbi/GetCollaborateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCollaborateur">
      <soap:operation soapAction="http://tempuri.org/IServiceAbi/addCollaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContratsCollaborateur">
      <soap:operation soapAction="http://tempuri.org/IServiceAbi/GetContratsCollaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAbi">
    <wsdl:port name="ABIService" binding="tns:ABIService">
      <soap:address location="http://bip07:8080/ServiceAbi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>